/* About Section */
#about {
  padding: 60px 20px;
  max-width: 900px;
  margin: 0 auto;
}

#about h2 {
  font-size: 2.2rem;
  margin-bottom: 16px;
  color: var(--accent-color);
  position: relative;
}

#about h2::after {
  content: "";
  width: 80%;
  height: 3px;
  background: white;
  display: block;
  margin-top: 10px;
  margin-left: 10%;
  margin-right:10%;
  border-radius: 2px;
}

#about p {
  font-size: 1.05rem;
  line-height: 1.8;
  color: white;
  margin-top: 12px;
}


/* Fade-in animation */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}
