.contact-section {
  padding: 5rem 2rem;
  background: #111; /* dark theme */
  color: #fff;
  text-align: center;
}

.contact-card {
  max-width: 800px;
  margin: 0 auto;
}

.contact-section h2 {
  font-size: 2.5rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
  animation: fadeIn 1s ease forwards;
}

.contact-section p {
  margin-bottom: 2rem;
  color: #ccc;
  animation: fadeIn 1.5s ease forwards;
}


/* Contact links */
.contact-label {
  display: flex;
  color: aquamarine;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.contact-value  {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.contact-label a:hover {
  color: var(--accent-color);
}

/* Fade-in animation */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px);}
  100% { opacity: 1; transform: translateY(0);}
}
