.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0a0a0a, #1a1a1a);
  padding: 0 5rem;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/* Image styling */
.hero-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%; /* circular */
  object-fit:cover; 
  border: 6px solid white;
}

.hero-image img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}


/* Text info styling */
.hero-info {
  max-width: 600px;
}

.hero-info h1 {
  font-size: 3rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
  animation: fadeIn 1s ease forwards;
}

.hero-info p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--text-color);
  line-height: 1.6;
  animation: fadeIn 1.5s ease forwards;
}

.btn {
  padding: 0.8rem 1.5rem;
  background: var(--accent-color);
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

/* Simple fade-in animation */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px);}
  100% { opacity: 1; transform: translateY(0);}
}
