:root {
  --bg-color: #0a0a0a;
  --text-color: #ffffff;
  --accent-color: #38bdf8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
